
@import "header.css";
@import "footer.css";
@import "hero.css";
@import "form.css";
@import "preloader.css";

@font-face {
    font-family: 'bpreplayregular';
    src: url('fonts/bpreplay-webfont.woff2') format('woff2'),
    url('fonts/bpreplay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bpreplaybold';
    src: url('fonts/bpreplaybold-webfont.woff2') format('woff2'),
    url('fonts/bpreplaybold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}